/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 85vh;
}

body {
    background: #8fbfdb;
}

.navbar {
    background: black;
}

.info {
    padding: 1rem;
    margin: 0;
}

.info.error {
    color: #000;
    background: #fbb4ae;
}

.info.success {
    color: #000;
    background: #c5e8c5;
}