/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #8fbfdb;
}

.navbar {
    background: black;
}
